<p>home works!</p>

<button mat-raised-button color="primary" (click)="delete()">
    <mat-icon>bug_report</mat-icon>
    <span>delete doc</span>
</button>

<div *ngIf="(user | async)">
    <div>soft deleted? {{ (user | async)?.isDeleted }} </div>

    <div>Name: {{ (user | async)?.name.first }} {{ (user | async)?.name.last }}</div>

    <div>Primary address: {{ (addresses | async)?.primaryAddress }}</div>

    <div>Other addresses:
        <ul>
            <li *ngFor="let otherAddress of (addresses | async)?.otherAddresses">
                {{ otherAddress }}
            </li>
        </ul>
    </div>
</div>